<a href="https://colab.research.google.com/github/r9hit10/NetFlix-EDA/blob/main/Netflix_Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##<font color="pink" style="sans-serif"> NETFLIX </font>
<font color="cornflowerblue" style="sans-serif">Netflix is one of the most popular media and video streaming platforms.
They have over 10000 movies or tv shows available on their platform, as of mid-2021, they have over 222M Subscribers globally.
This tabular dataset consists of listings of all the movies and tv shows available on Netflix, along with details such as - cast, directors, ratings, release year, duration, etc.</font>

## <font color="pink" style="sans-serif"> Business Problem Statement </font>
<font color="cornflowerblue" style="sans-serif">
Analyze the data for Netflix and generate insights that could help Netflix in deciding which type of shows/movies to produce and how they can grow the business in different countries

## <font color="pink" style="sans-serif"> Importing Python Libraries </font>

In [641]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib import rcParams
rcParams['figure.figsize']= 20,10

In [642]:
## Reading the Dataset

data=pd.read_csv("netflix.csv")

In [643]:
## Exploring the Dataset
## shape, number of rows and number of columns
## Default Data Types for the Columns

In [644]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [645]:
## Number of rows and columns
## data.shape

In [646]:
data.shape

(8807, 12)

In [647]:
## No. of Rows 8807
## No of Columns/Features 12

In [648]:
## Dataset Information
## data.info()

In [649]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

## <font color="pink" style="sans-serif"> Dataset Information </font>

The dataset provided consists of a list of all the TV shows/movies available on Netflix:

Show_id: Unique ID for every Movie / Tv Show

Type: Identifier - A Movie or TV Show

Title: Title of the Movie / Tv Show

Director: Director of the Movie

Cast: Actors involved in the movie/show

Country: Country where the movie/show was produced

Date_added: Date it was added on Netflix

Release_year: Actual Release year of the movie/show

Rating: TV Rating of the movie/show

Duration: Total Duration - in minutes or number of seasons

Listed_in: Genre

Description: The summary description

In [650]:
## Data types for columns
## df.dtypes

In [651]:
data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [652]:
## Converting "type" column to 'category' data type for faster evaluation and comparisions

In [653]:
data["type"]=data["type"].astype("category")

In [654]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   category
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: category(1), int64(1), object(10)
memory usage: 765.7+ KB

In [655]:
## Movie/TV_Series Release_Years

In [656]:
data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

<font color="cornflowerblue" style="sans-serif">
Using .describe() we can see that,

Release_year
Ranges from 1925(min) to
2021(max)

50% of Releases are in 2017

In [657]:
## checking for the missing values
## using .isnull()

In [658]:
data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [659]:
## Total Missing values in the Dataset

In [660]:
data.isnull().sum().sum()

4307

<font color="cornflowerblue" style="sans-serif">There are in total 4307 Missing Values in the Dataset

In [661]:
## Percentage of Missing Values
## Total Missing Values/Total Rows

In [662]:
Percent_Missing_Values = round((data.isnull().sum().sum()/data.shape[0])*100,2)
print("Percent of Missing Values",Percent_Missing_Values)

Percent of Missing Values 48.9

In [663]:
## Checking the Percentage of Movies and TV Series in the Dataset
## .value_counts(normalize=True)

In [664]:
data["type"].value_counts(normalize=True)

type
Movie      0.696151
TV Show    0.303849
Name: proportion, dtype: float64

In [665]:
## Approximately 70% of the data is for Movies
## Aproximately 30% of the data is for TV Series

<font color="cornflowerblue" style="sans-serif">Top 5 Countrywide Releases

In [666]:
data["country"].value_counts(normalize=True).head()

country
United States     0.353310
India             0.121866
United Kingdom    0.052533
Japan             0.030717
South Korea       0.024950
Name: proportion, dtype: float64

<font color="cornflowerblue" style="sans-serif">United States with 35% Movies and TV Series Release with 65% contribution from the rest of the World.

In [667]:
## Ratings Proportion

In [668]:
data["rating"].value_counts(normalize=True)[:5]

rating
TV-MA    0.364308
TV-14    0.245371
TV-PG    0.098035
R        0.090765
PG-13    0.055663
Name: proportion, dtype: float64

In [669]:
## Most common ratings "TV-MA"

In [670]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   category
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: category(1), int64(1), object(10)
memory usage: 765.7+ KB

## <font color="pink" style="sans-serif"> Splitting data into Movies and TV Shows to Analyse Cast

In [671]:
Movies=data.loc[data["type"]=="Movie"]
TV_Shows=data.loc[data["type"]=="TV Show"]

In [672]:
Movies.shape

(6131, 12)

In [673]:
TV_Shows.shape

(2676, 12)

<font color="cornflowerblue" style="sans-serif">Total Movies = 6131
<font color="cornflowerblue" style="sans-serif">Total TV Shows = 2676

In [674]:
Movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies",After most of her family is murdered in a terr...

In [675]:
Movies.drop(columns=["show_id","type","date_added","release_year","duration","description"])

,title,director,cast,country,rating,listed_in
0,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,PG-13,Documentaries
6,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,PG,Children & Family Movies
7,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",TV-MA,"Dramas, Independent Movies, International Movies"
9,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,PG-13,"Comedies, Dramas"
12,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",TV-MA,"Dramas, International Movies"
...,...,...,...,...,...,...
8801,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",TV-MA,"Dramas, International Movies, Thrillers"
8802,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,R,"Cult Movies, Dramas, Thrillers"
8804,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,R,"Comedies, Horror Movies"
8805,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,PG,"Children & Family Movies, Comedies"
8806,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,TV-14,"Dramas, International Movies, Music & Musicals"

## <font color="cornflowerblue"> Most frequently casted actor(s/ess) in movies</font>

In [676]:
movie_cast=dict()

In [677]:
for i in Movies["cast"].dropna().values:
  for j in i.split(","):
    if j in movie_cast:
      movie_cast[str(j).strip()] +=1
    else:
      movie_cast[str(j).strip()] =1

In [678]:
movie_cast=sorted(movie_cast.items(), key= lambda x : x[1], reverse=True)

In [679]:
movie_cast[:5]

[('Adam Sandler', 20),
 ('Vatsal Dubey', 16),
 ('Ahmed Helmy', 13),
 ('Samuel West', 11),
 ('Eddie Murphy', 10)]

## <font color="pink"> Most frequent directors</font>

In [680]:
movie_directors=dict()
for i in Movies["director"].dropna().values:
  for j in i.split(","):
    if j in movie_directors:
      movie_directors[str(j).strip()] +=1
    else:
      movie_directors[str(j).strip()] =1

In [681]:
movie_directors = sorted(movie_directors.items(), key= lambda x : x[1] , reverse=True)

In [682]:
movie_directors[:5]

[('Rajiv Chilaka', 22),
 ('Suhas Kadav', 16),
 ('Jay Karas', 15),
 ('Marcus Raboy', 15),
 ('Cathy Garcia-Molina', 13)]

## <font color="pink"> Most frequent Movie Genres</font>

In [683]:
Movies["listed_in"]

0                                          Documentaries
6                               Children & Family Movies
7       Dramas, Independent Movies, International Movies
9                                       Comedies, Dramas
12                          Dramas, International Movies
                              ...
8801             Dramas, International Movies, Thrillers
8802                      Cult Movies, Dramas, Thrillers
8804                             Comedies, Horror Movies
8805                  Children & Family Movies, Comedies
8806      Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 6131, dtype: object

In [684]:
movie_genre= dict()
for i in Movies["listed_in"].dropna().values:
  for j in i.split(","):
    if  j in movie_genre:
      movie_genre[str(j).strip()] +=1
    else:
      movie_genre[str(j).strip()] = 1

In [685]:
movie_genre

{'Documentaries': 19,
 'Children & Family Movies': 5,
 'Dramas': 2,
 'Independent Movies': 1,
 'International Movies': 1,
 'Comedies': 1,
 'Thrillers': 1,
 'Romantic Movies': 1,
 'Music & Musicals': 1,
 'Horror Movies': 1,
 'Sci-Fi & Fantasy': 1,
 'Action & Adventure': 859,
 'Classic Movies': 2,
 'Anime Features': 2,
 'Sports Movies': 1,
 'Cult Movies': 2,
 'Faith & Spirituality': 1,
 'LGBTQ Movies': 1,
 'Stand-Up Comedy': 26,
 'Movies': 57}

In [686]:
movie_genre = sorted(movie_genre.items(), key = lambda x:x[1], reverse= True)
movie_genre[:5]

[('Action & Adventure', 859),
 ('Movies', 57),
 ('Stand-Up Comedy', 26),
 ('Documentaries', 19),
 ('Children & Family Movies', 5)]

## <font color="pink"> High Number of Movies producing countries</font>

In [687]:
Movies["country"].value_counts().reset_index().head(10)

          country  count
0   United States   2058
1           India    893
2  United Kingdom    206
3          Canada    122
4           Spain     97
5           Egypt     92
6         Nigeria     86
7       Indonesia     77
8          Turkey     76
9           Japan     76

## <font color="pink"> **TV Shows**</font>

In [688]:
TV=data.loc[data["type"]=="TV Show"]
TV.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...

In [689]:
TV=TV.drop(columns=["show_id","type","date_added","release_year","duration","description"])
TV.head()

,title,director,cast,country,rating,listed_in
1,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,TV-MA,"International TV Shows, TV Dramas, TV Mysteries"
2,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,TV-MA,"Crime TV Shows, International TV Shows, TV Act..."
3,Jailbirds New Orleans,NaN,NaN,NaN,TV-MA,"Docuseries, Reality TV"
4,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,TV-MA,"International TV Shows, Romantic TV Shows, TV ..."
5,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,TV-MA,"TV Dramas, TV Horror, TV Mysteries"

## <font color="cornflowerblue"> Most frequently casted actor(s/ess) in TV Shows</font>

In [690]:
tv_cast=dict()
for i in TV["cast"].dropna().values:
  for j in i.split(","):
    if j in tv_cast:
      tv_cast[str(j).strip()] +=1
    else:
      tv_cast[str(j).strip()] = 1

In [691]:
tv_cast=sorted(tv_cast.items(), key= lambda x: x[1], reverse= True)
tv_cast[:5]

[('David Attenborough', 14),
 ('Michela Luci', 7),
 ('Tara Strong', 4),
 ('You', 4),
 ('Natsuki Hanae', 4)]

## <font color="cornflowerblue"> Most TV Shows Producing Directors </font>

In [692]:
tv_director=dict()
for i in TV["director"].dropna().values:
  for j in i.split(","):
    if j in tv_director:
      tv_director[str(j).strip()] += 1
    else:
      tv_director[str(j).strip()] = 1

In [693]:
tv_director= sorted(tv_director.items(), key = lambda x: x[1], reverse= True)
tv_director[:5]

[('Alastair Fothergill', 3),
 ('Ken Burns', 3),
 ('Hsu Fu-chun', 2),
 ('Rob Seidenglanz', 2),
 ('Joe Berlinger', 2)]

## <font color="cornflowerblue"> Most Frequent TV Show Genres </font>

In [694]:
tv_genre=dict()
for i in TV["listed_in"].dropna().values:
  for j in i.split(","):
    if j in tv_genre:
      tv_genre[str(j).strip()] +=1
    else:
      tv_genre[str(j).strip()] =1

In [695]:
tv_genre = sorted(tv_genre.items(), key= lambda x: x[1], reverse= True)
tv_genre[:5]

[('British TV Shows', 253),
 ('Anime Series', 176),
 ('TV Shows', 16),
 ('International TV Shows', 8),
 ("Kids' TV", 3)]

## <font color="cornflowerblue"> Most Frequent Country for TV Shows </font>

In [696]:
TV["country"].value_counts().reset_index().head()

          country  count
0   United States    760
1  United Kingdom    213
2           Japan    169
3     South Korea    158
4           India     79

## <font color="cornflowerblue"> General Observations </font>

## <font color="cornflowerblue"> Most releases </font>

In [697]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [698]:
data["release_year"].value_counts()

release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
        ...
1959       1
1925       1
1961       1
1947       1
1966       1
Name: count, Length: 74, dtype: int64

In [699]:
## Most number of movies and TV Shows are released in 2018, 2017 and followed by 2019 and so

In [700]:
data["date_added"].value_counts()

date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
December 4, 2016       1
November 21, 2016      1
November 19, 2016      1
November 17, 2016      1
January 11, 2020       1
Name: count, Length: 1767, dtype: int64

In [701]:
## Most number of Movies and Shows that were actually added on Netflix was on
## January 1, 2020 , November 1, 2019 , March 1, 2018,  December 31, 2019

# **Observations:**


<font color="cornflowerblue">From the release_year analysis, it looks like most of the content was released on 2018, followed by 2017.</font>

<font color="cornflowerblue">But, from the date_added, most of them were uploaded on 2020. So, that means on average, there was a gap of 2 years between release year and date_added.</font>

<font color="cornflowerblue">One reason could be COVID-19, when most of the users were watching from their home rather than going to theatres. </font>
<font color="cornflowerblue">So, Netflix might have added more content in 2020.</font>

In [702]:
data_duration=data["duration"].str.split(" ",expand=True)

In [703]:
data_duration.head(3)

    0        1
0  90      min
1   2  Seasons
2   1   Season

In [704]:
data_duration.rename(columns={0:"Duration_Season", 1:"Minute_Season"},inplace=True)

In [705]:
data_duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration_Season  8804 non-null   object
 1   Minute_Season    8804 non-null   object
dtypes: object(2)
memory usage: 137.7+ KB

In [706]:
data_duration["Duration_Season"]=data_duration["Duration_Season"].dropna().astype("int")

In [707]:
data_duration["Minute_Season"]=data_duration["Minute_Season"].dropna().astype("str")

In [708]:
data_duration.head()

   Duration_Season Minute_Season
0             90.0           min
1              2.0       Seasons
2              1.0        Season
3              1.0        Season
4              2.0       Seasons

In [709]:
data_duration["Minute_Season"].value_counts()

Minute_Season
min        6128
Season     1793
Seasons     883
Name: count, dtype: int64

It can be assumed that as a show gets liked or becomes famous

It releases more seasons

Assuming that on average an episode of TV show runs for 50 mins

and Each Season has average 10 Episodes

In [710]:
def to_minute(df):
  if df["Minute_Season"]=="min":
    df["Minute_Season"]=int(1)
  elif (df["Minute_Season"]=="Season") | (df["Minute_Season"]=="Seasons"):
    df["Minute_Season"]=int(50*10)
  return df

In [711]:
data_duration=data_duration.apply(to_minute,axis=1)

In [712]:
data_duration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration_Season  8804 non-null   float64
 1   Minute_Season    8804 non-null   float64
dtypes: float64(2)
memory usage: 137.7 KB

In [713]:
data.drop(columns="duration",inplace=True)

In [714]:
data["duration"]=(data_duration["Duration_Season"])*(data_duration["Minute_Season"])

In [715]:
movies=data.loc[data["type"]=="Movie"]

In [716]:
tvs=data.loc[data["type"]=="TV Show"]
tvs.drop(columns=["cast","director","country","rating","listed_in","description","date_added","release_year","show_id"],inplace=True)

<ipython-input-716-6491aa68a238>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tvs.drop(columns=["cast","director","country","rating","listed_in","description","date_added","release_year","show_id"],inplace=True)

## <font color="cornflowerblue"> Famous TV Shows Based on Number of Minutes </font>

In [717]:
## It can be assumed that as a show gets liked or becomes famous
## It releases more seasons
## Assuming that on average an episode if TV show runs for 50 mins
## and Each Season has average 10 Episodes

In [718]:
tvs.sort_values(by="duration",ascending=False).head(10).reset_index(drop=True)

      type                   title  duration
0  TV Show          Grey's Anatomy    8500.0
1  TV Show            Supernatural    7500.0
2  TV Show                    NCIS    7500.0
3  TV Show               Heartland    6500.0
4  TV Show  COMEDIANS of the world    6500.0
5  TV Show            Red vs. Blue    6500.0
6  TV Show       Trailer Park Boys    6000.0
7  TV Show          Criminal Minds    6000.0
8  TV Show                 Frasier    5500.0
9  TV Show                  Cheers    5500.0